In [1]:
#workshop 1

In [2]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv('~/Desktop/my_machine_learning/csv/simple_loan.csv')
df.head()

     age  employed own_house credit target
0  young     False         n   fair     no
1  young     False         n   good     no
2  young      True         n   good    yes
3  young      True         y   fair    yes
4  young     False         n   fair     no

In [51]:
pd.pivot_table(index='employed', columns=['target'], values=['age'], 
               data=df, aggfunc='count', fill_value=0, margins=True)

         age
target    no yes All
employed
False      6   5  11
True       0   6   6
All        6  11  17

In [52]:
feature_columns = ['age', 'employed', 'own_house', 'credit']
X = df[feature_columns]
y = df['target']

In [53]:
def labelEncode(data, columns):
    for i in columns:
        data[i + '_'], _ = pd.factorize(data[i], sort=True)

In [54]:
labelEncode(df, feature_columns)

In [55]:
df['target_'], class_names = pd.factorize(df.target)
df

,age,employed,own_house,credit,target,age_,employed_,own_house_,credit_,target_
0,young,False,n,fair,no,2,0,0,1,0
1,young,False,n,good,no,2,0,0,2,0
2,young,True,n,good,yes,2,1,0,2,1
3,young,True,y,fair,yes,2,1,1,1,1
4,young,False,n,fair,no,2,0,0,1,0
5,middle,False,n,fair,no,0,0,0,1,0
6,middle,False,n,good,no,0,0,0,2,0
7,middle,True,y,good,yes,0,1,1,2,1
8,middle,False,y,excellent,yes,0,0,1,0,1
9,middle,False,y,excellent,yes,0,0,1,0,1
10,old,False,y,excellent,yes,1,0,1,0,1
11,old,False,y,good,yes,1,0,1,2,1
12,old,True,n,good,yes,1,1,0,2,1
13,old,True,n,excellent,yes,1,1,0,0,1
14,old,False,n,fair,no,1,0,0,1,0
15,old,False,n,excellent,yes,1,0,0,0,1
16,young,True,y,fair,yes,2,1,1,1,1

In [56]:
enc_columns = ['age_', 'employed_', 'own_house_', 'credit_']
X = df[enc_columns]
y = df['target_']

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [59]:
from sklearn.naive_bayes import GaussianNB

In [60]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [61]:
model.score(X_test, y_test)

0.8333333333333334

In [62]:
X_input = [[0,1,1,1], [1,0,0,2], [1,1,0,1], [2,0,1,1]]
y_predict = model.predict(X_input)
print(y_predict)

[1 0 1 1]

In [63]:
from sklearn.model_selection import cross_val_score

In [64]:
model = GaussianNB()

In [ ]:
cvs = cross_val_score(model, X, y, cv=5)
print('cross val score: {}'.format(cvs))
print('mean: {:.4f}'.format(cvs.mean()))